$dark: #2f2926;
$text: #ccc;
$header-text: #fffff7;
$background: #343537;
$accent: #999;
$nav-gradient-webkit: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7D877D), to(#606860));
$dark-accent: #606860;
$link-color: #BADEB7;
$nav-color: #CFCABE;
