$line-height:         24px;
$header-line-height:  $line-height * 1.5;
$medium:              16px;
$small:               12px;
$large:               21px;
$x-large:             28px;
$header-font-weight:  600;
$link-font-weight:    $header-font-weight;
