<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <title>${title}</title>
  <script type="text/javascript" src="http://use.typekit.com/dwi8ggm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div id='profile'>
    <img alt='Sam Grossberg' src='/images/sam-grossberg.jpg' />
  </div>
  
  <div id='header' class='tk-myriad-pro'>
    <div class='row'>      
      <div class='column grid_2'>
        &nbsp;
      </div>
    
      <div class='column grid_14'>
        <header>Sam Grossberg</header>
        <div class='subtitle'>Dev at GoPollGo. Skier, climber, geek.</div>
      </div>
    </div>
  </div>
  
  <div id='nav'>
    <div class='row'>
      <div class='column grid_2'>&nbsp;</div>
      <div class='column grid_14'>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='/about'>About</a></li>
          <li><a href='#'>Work</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  {{html body}}
</body>
</html>