/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Baseline: http://www.alistapart.com/articles/settingtypeontheweb */
p {
  margin-bottom: 20px; }

p,
ul,
ol {
  margin-bottom: 20px; }

ul, ol {
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

/* ================ */
/* = The 1Kb Grid = */
/* 16 columns, 40 pixels each, with 20 pixel gutter */
/* ================ */
.grid_1 {
  width: 40px; }

.grid_2 {
  width: 100px; }

.grid_3 {
  width: 160px; }

.grid_4 {
  width: 220px; }

.grid_5 {
  width: 280px; }

.grid_6 {
  width: 340px; }

.grid_7 {
  width: 400px; }

.grid_8 {
  width: 460px; }

.grid_9 {
  width: 520px; }

.grid_10 {
  width: 580px; }

.grid_11 {
  width: 640px; }

.grid_12 {
  width: 700px; }

.grid_13 {
  width: 760px; }

.grid_14 {
  width: 820px; }

.grid_15 {
  width: 880px; }

.grid_16 {
  width: 940px; }

.column {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline; }

.row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }

.row .row {
  margin: 0 -10px;
  width: auto;
  display: inline-block; }

.top_row {
  width: 960px;
  margin: 0 auto; }

ul.inline-list {
  list-style-type: none;
  padding: 0; }
  ul.inline-list li {
    display: inline; }

ul.unbulleted, #nav ul {
  list-style-type: none;
  padding: 0; }

/* Layout */
body, textarea {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }

body {
  background: #343537;
  color: #cccccc;
  font-weight: 300; }

h1, h2, h3 {
  color: #fffff7; }

h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 24px; }
  h1 a, h1 a:visited, h1 a:hover, h1 a:focus {
    color: #fffff7;
    font-weight: 600; }

h2 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 24px; }

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: #badeb7;
  font-weight: normal; }

p a {
  border-bottom: 1px dotted #999999; }

#header {
  background: #2f2926;
  padding: 12px 0; }
  #header .row {
    position: relative;
    overflow: none; }
  #header header {
    color: #fffff7;
    font-size: 28px;
    line-height: 40px; }
  #header .subtitle {
    font-style: italic; }

#profile {
  position: relative;
  height: 0px;
  width: 960px;
  margin: 0px auto; }
  #profile img {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 2px solid #cccccc;
    width: 96px;
    height: 96px; }

#nav {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #2f2926;
  margin-bottom: 48px;
  width: 100%;
  background: #606860;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d877d), to(#606860)); }
  #nav a {
    color: #cfcabe; }
  #nav ul {
    margin: 12px 0; }
  #nav li {
    display: inline;
    padding: 0 12px 0 0; }

#content-container {
  padding-right: 60px; }

#new-page .large-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 200px; }

#pages #publish-date {
  float: right;
  font-size: 21px;
  line-height: 36px; }
